.cart {
    padding-left: 25px;
    margin-left: 10px;
}
.reviewBtn{
    background-color: gold;
    padding: 5 px;
    width: 250px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor:pointer;
}
.reviewBtn:hover{
    background-color: goldenrod;
    color: lightblue;
}
.center{
    text-align: center;
}
